.body{
  background-color: fffff;
}

h1 {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  color: white;
}

cta {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 16px;
  color: aquamarine;
}
