*{
  font-family: Verdana, sans-serif;
}

body {
  display: block;
  margin: 8px;
  background-color: black;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 50px;
  color: white;
}

h2 {
  text-align: center;
  font-weight: 600;
  font-size: 42px;
  color: white;
}

.cta {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 16px;
  color: aquamarine;
}

#copy {
  color: grey;
  font-size: 21px;
  font-family: verdana, sans-serif;
  text-align: center;
}
